typescript/dist/*.js
typescript/node_modules
typescript/package-lock.json
haskell2/stack.yaml.lock
haskell2/haskell2.cabal
haskell2/.stack-work/**/*.*
haskell2/dist-newstyle/cache/config
haskell2/out/**/*.*
dotnet/.vs
dotnet/PropertiesInstanceLanguage/obj
dotnet/PropertiesLanguage/obj
dotnet/PropertiesLanguageTest/obj
dotnet/PropertiesLanguageTest/bin
dotnet/PropertiesInstanceLanguage/Parser
dotnet/PropertiesLanguage/.antlr
dotnet/PropertiesLanguage/bin
dotnet/PropertiesLanguage/Parser
dotnet/PropertiesInstanceLanguage/bin
