typescript/dist/*.js
typescript/node_modules
typescript/package-lock.json
haskell2/stack.yaml.lock
haskell2/haskell2.cabal
haskell2/.stack-work/**/*.*
haskell2/dist-newstyle/cache/config
haskell2/out/**/*.*
dotnet/.vs
dotnet/PropertiesDefinitionLanguage/.antlr
dotnet/PropertiesDefinitionLanguage/obj
dotnet/PropertiesDefinitionLanguage/bin
dotnet/PropertiesDefinitionLanguage/Parser
dotnet/PropertiesDefinitionLanguageTest/obj
dotnet/PropertiesDefinitionLanguageTest/bin
dotnet/PropertiesInstanceLanguage/obj
dotnet/PropertiesInstanceLanguage/bin
dotnet/PropertiesInstanceLanguage/Parser
dotnet/PropertiesTransformationLanguage/obj
dotnet/PropertiesTransformationLanguage/bin
dotnet/PropertiesTransformationLanguage/Parser
