typescript/dist/*.js
typescript/node_modules
typescript/package-lock.json
haskell/**/*.hi
haskell/**/*.o
haskell/Parser/.antlr/*.*
haskell2/stack.yaml.lock
haskell2/haskell2.cabal
haskell2/.stack-work/**/*.*
haskell2/dist-newstyle/cache/config
